/* Magic Mirror
 * Module: MMM-Ff-Evan-Roth-Red-Lines
 *
 * By Michael Trenkler
 * ISC Licensed.
 */

.MMM-Ff-Evan-Roth-Red-Lines {
  position: absolute !important;
  top: 0;
  left: 0;
}

.MMM-Ff-Evan-Roth-Red-Lines,
.MMM-Ff-Evan-Roth-Red-Lines .module-content {
  width: 100%;
  height: 100%;
}
.MMM-Ff-Evan-Roth-Red-Lines .red-lines-wrapper,
.MMM-Ff-Evan-Roth-Red-Lines .red-lines-iframe {
  width: 100%;
  height: 100%;
  margin: auto;
}

.MMM-Ff-Evan-Roth-Red-Lines .red-lines-wrapper {
  position: relative;
}

.MMM-Ff-Evan-Roth-Red-Lines .red-lines-iframe {
  border: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.MMM-Ff-Evan-Roth-Red-Lines .red-lines-vignette {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.MMM-Ff-Evan-Roth-Red-Lines .red-lines-iframe.grayscale {
  filter: grayscale(1);
}

.MMM-Ff-Evan-Roth-Red-Lines .red-lines-iframe.inverted {
  filter: invert(1);
}

.MMM-Ff-Evan-Roth-Red-Lines .red-lines-iframe.grayscale.inverted {
  filter: grayscale(1) invert(1);
}
